* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body,
html {
  height: 100%;
}

body {
  background: url("../img/content-bg.0d9a0f0f.png") 0px -1px repeat-x rgb(20, 24, 28);
  height: 100vh;
  display: flex;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  text-align: center;
  color: rgb(153, 170, 187);
  justify-content: center;
  align-items: center;
}

#choice {
  margin: 10px;
}

p#movieTitle {
  font-size: 40px;
  font-weight: bold;
}

#backdrop {
  max-width: 350px;
  height: 340px;
}

p#synopsis {
  margin: 20px 0px;
  line-height: 25px;
  width: 100%;
}

button#pickbtn {
  margin: 10px;
}

.button-55 {
  align-self: center;
  background-color: rgba(153, 170, 187, 0.24);
  background-image: none;
  background-position: 0px 90%;
  background-repeat: repeat-x;
  background-size: 4px 3px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: rgb(153, 170, 187);
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out 0s;
  user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0px, 2px, 0px);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.footer {
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1025px) and (max-width: 1280px) {
  #choice {
    width: 50%;
  }
}

@media (min-width: 1281px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #choice {
    display: flex;
    align-items: center;
  }

  .right-section {
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    text-align: center;
    width: 621px;
  }
}
